{%extends 'metro_app/base.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load static %}
{% load humanize %}


{% block title %}
{{ simulation.name }} - Metropolis
{% endblock %}


{% block main %}
<center>
    <a role="button" class="btn btn-secondary my-3" href="{% url 'metro:simulation_view' simulation.id %}" title="Go back to the simulation view page">
        <span class="far fa-caret-square-left"></span> Back </a>
</center>

<center>
    {% if is_owner and not batch.end_time %}
    <a role="button" class="btn btn-outline-primary my-3" href="{% url 'metro:batch_edit' simulation.id batch.id  %}" title="Edit the input files of the batch runs">
         Edit input files
    </a>
    {% endif %}
</center>

<center>
    {% if is_owner and not batch.end_time %}
    <a role="button" class="btn btn-outline-primary my-3" href="{% url 'metro:batch_delete' simulation.id batch.id %}" title="Abort Run if it is running">
         Delete
    </a>
    {% endif %}
</center>

<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead class="thead-light">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Status</th>
				<th scope="col">Start time</th>
				<th scope="col">End time</th>
				<th scope="col">Time taken</th>
				<th scope="col">Actions</th>
			</tr>

		</thead>
		<tbody>
			{% for batch_run in batch_runs %}
 			<tr>

                <td>{{ batch_run.name }}</td>
            {% if batch_run.run.status == "Preparing" or batch_run.run.status == "Running" or batch_run.run.status == "Over"  %}
                <td>{{ batch_run.run.status }}</td>
                {% elif status == "Not Started"  %}
				<td>{{ status }}</td>
            {% endif %}
            {% if batch_run.run.status == "Preparing" or batch_run.run.status == "Running" or batch_run.run.status == "Over" %}
                <td>{{ batch_run.run.start_time }}</td>
            {% elif status == "Not Started"  %}
				<td>{{ start_time}}</td>
            {% endif %}
            {% if batch_run.run.status == "Preparing" or batch_run.run.status == "Running" or batch_run.run.status == "Over" %}
                <td>{{ batch_run.run.end_time }}</td>
            {% elif status == "Not Started" %}
                <td>{{ end_time }}</td>
            {% endif %}

            {% if batch_run.run.status == "Preparing" or batch_run.run.status == "Running" or batch_run.run.status == "Over" %}
                <td>{{ batch_run.run.time_taken }}</td>
            {% elif status == "Not Started" %}
                <td>{{ time_taken }}</td>
            {% endif %}



            <td>
					<center>
                     {% if batch_run.run.status == "Preparing" or batch_run.run.status == "Running" or batch_run.run.status == "Over"  %}
						<div class="btn-group" role="group">
							<a role="button" class="btn btn-outline-primary" href="{% url 'metro:simulation_run_view' simulation.id batch_run.run.id %}">
								Log and results
							</a>
                        {% elif status == "Not Started" %}
                        <div class="btn-group" role="group">
							<a role="button" class="btn btn-outline-primary" href="{% url 'metro:batch_delete' simulation.id batch.id %}">
								Delete
							</a>

                        {% endif %}
							{% if run.network_output %}
							<a role="button" class="btn btn-outline-primary" href="{% url 'metro:network_view_run' simulation.id run.id %}">
								Results on network
							</a>
							{% endif %}
							{% if run.link_output %}
							<a role="button" class="btn btn-outline-primary" href="{% url 'metro:simulation_run_link_output' simulation.id run.id %}">
								Download link-specific results
							</a>
							{% endif %}
							{% if run.user_output %}
							<a role="button" class="btn btn-outline-primary" href="{% url 'metro:simulation_run_user_output' simulation.id run.id %}">
								Download traveler-specific results
							</a>
							{% endif %}
							{% if run.user_path %}
							<a role="button" class="btn btn-outline-primary" href="{% url 'metro:simulation_run_user_path' simulation.id run.id %}">
								Download traveler paths
							</a>
							{% endif %}
						</div>
					</center>
				</td>
			</tr>

			{% endfor %}
		</tbody>
        </table>


</div>




{% endblock %}
