{% extends 'metro_app/base.html' %}
{% load humanize %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %}
{{ simulation.name }} - Metropolis
{% endblock %}

{% block main %}

<center>

{% if demandsegments %}
<table class="table table-hover table-bordered">
	<thead class="thead-light">
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Comment</th>
			<th scope="col">Population</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for demandsegment in demandsegments %}
		<tr>
			<td>{{ demandsegment.usertype.user_id }}</td>
			<td>{{ demandsegment.usertype }}</td>
			<td>{{ demandsegment.usertype.comment }}</td>
			<td>{{ demandsegment.matrix.total|intcomma }}</td>
			<td>
				<center>
				<div class="btn-group my-1" role="group">
					<a role="button" class="btn btn-outline-primary" href="{% url 'metro:usertype_view' simulation.id demandsegment.id %}">
						View parameters
					</a>
				</div>
				<br>
				{% if owner %}
				<div class="btn-group my-1" role="group">
					<a role="button" class="btn btn-outline-primary" href="{% url 'metro:usertype_edit' simulation.id demandsegment.id %}">
						Edit parameters
					</a>
				</div>
				<br>
				{% endif %}
				<div class="btn-group my-1" role="group">
					<a role="button" class="btn btn-outline-primary" href="{% url 'metro:usertype_export' simulation.id demandsegment.id %}">
						Export usertype
					</a>
				</div>
				<br>
				<div class="btn-group my-1" role="group">
					<a role="button" class="btn btn-outline-primary" href="{% url 'metro:matrix_main' simulation.id demandsegment.id %}">
						 O-D matrix 
					</a>
				</div>
				{% if owner %}
				<br>
				<div class="btn-group my-1" role="group">
					<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal_{{ demandsegment.id }}">
						Delete
					</button>
				</div>
				{% endif %}
				</center>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
The simulation has no traveler type.
{% endif %}

{% if owner %}
<br>
<a role="button" class="btn btn-primary my-3" href="{% url 'metro:usertype_add' simulation.id %}" title="Create a new traveler type and start editing the parameters">
	<i class="fas fa-plus-circle"></i> Add a traveler type
</a>

<br>
<button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#importUsertypeModal" title="Import a new traveler type">
	<i class="fas fa-plus-circle"></i> Import a traveler type
</button>

    <br>

     <!-- Code Added by Shubham on 15-09-2020 to add the Export function on Traveler's Page -->
 <a role="button" class="btn btn-primary my-3" href="{% url 'metro:traveler_simulation_export' simulation.id %}" data-target="#exportUsertypeModal" title="Export a new traveler type">
     <i class="fas fa-download"></i> Export traveler types</a>
</a>

<br>
	<!-- Added a Import Button traverler page to import the zip file -->
    <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#newImportSimulation" title="Import a new traveler type">
	<i class="fas fa-plus-circle"></i> Import traveler types (.zip file)
</button>

<br>


{% endif %}

<br>
<a role="button" class="btn btn-secondary mt-5" href="{% url 'metro:simulation_view' simulation.id %}" title="Go back to the simulation view page">
	<span class="far fa-caret-square-left"></span> Back
</a>

</center>

{% if owner %}
{% for demandsegment in demandsegments %}
<div class="modal fade" id="deleteModal_{{ demandsegment.id }}" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete a traveler type</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Do you really want to delete '{{ demandsegment.usertype }}'?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
				<a role="button" class="btn btn-danger mx-auto" href="{% url 'metro:usertype_delete' simulation.id demandsegment.id %}">Delete</a>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}

<div class="modal fade" id="importUsertypeModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import usertype</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{% url 'metro:usertype_import' simulation.id%}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body form-group">
					The import file must be a tsv file with 40 columns:  <i>
					name</i>, <i>comment</i>, <i>alphaTI_mean</i>,  <i>
					alphaTI_std</i>, <i>alphaTI_type</i>, <i>alphaTP_mean
				</i>, <i>alphaTP_std</i>, <i>alphaTP_type</i>,  <i>beta_mean
				</i>, <i>beta_std</i>, <i>beta_type</i>, <i>delta_mean</i>,
					<i>delta_std</i>, <i>delta_type</i>,  <i>departureMu_mean
				</i>, <i>departureMu_std</i>, <i>departureMu_type</i>,  <i>
					gamma_mean</i>, <i>gamma_std</i>, <i>gamma_type</i>,  <i>
					modeMu_mean</i>, <i>modeMu_std</i>, <i>modeMu_type</i>,
					<i>penaltyTP_mean</i>, <i>penaltyTP_std</i>,  <i>
					penaltyTP_type</i>, <i>routeMu_mean</i>,  <i>routeMu_std
				</i>, <i>routeMu_type</i>, <i>tstar_mean</i>, <i>tstar_std
				</i>, <i>tstar_type</i>, <i>typeOfRouteChoice</i>, <i>
					typeOfDepartureMu</i>, <i>typeOfRouteMu</i>,  <i>
					typeOfModeMu</i>, <i>localATIS</i>, <i>modeChoice</i>,
					<i>modeShortRun</i> and <i>commuteType</i>.
					{% render_field import_form.import_file class="form-control-file my-3" %}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary mx-auto">Import</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Added a Import Button traverler page to import the zip file -->
    <div class="modal fade" id="newImportSimulation" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import a New Traveler Type</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{% url 'metro:traveler_import_action' simulation.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body form-group">
					{% render_field import_form.import_file class="form-control-file my-3" %}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary mx-auto">Import</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
