{% extends 'metro_app/base.html' %}
{% load custom_template %}
{% load humanize %}
{% load widget_tweaks %}

{% block title %}
{{ simulation.name }} - Metropolis
{% endblock %}

{% block main %}

<div class="container">

	<h3>O-D Matrix</h3>
	The O-D matrix specifies the number of travelers for each origin-destination pair.
	Only zones are eligible origin or destination points.

	<br>

	{% if total > 1 %}
	This traveler type has {{ total|intcomma }} travelers.
	{% else %}
	This traveler type has {{ total }} traveler.
	{% endif %}

	<br>

	<div class="row">

		<div class="col text-center">

			<div class="btn-group my-1" role="group">
				{% if has_centroid and total %}
				<a role="button" class="btn btn-outline-primary{% if owner %} w-50{% endif %}" href="{% url 'metro:matrix_view' simulation.id demandsegment.id %}">
					View O-D matrix
				</a>
				{% elif has_centroid %}
				<button type="button" class="btn btn-outline-primary{% if owner %} w-50{% endif %}" title="The O-D matrix is empty" disabled>
					View O-D matrix
				</button>
				{% else %}
				<button type="button" class="btn btn-outline-primary{% if owner %} w-50{% endif %}" title="The network has no zone" disabled>
					View O-D matrix
				</button>
				{% endif %}
				{% if owner %}
				{% if large_matrix %}
				<button type="button" class="btn btn-outline-primary w-50" title="The O-D matrix is too large to be edited, use the import button" disabled>
					Edit O-D matrix
				</button>
				{% elif has_centroid %}
				<a role="button" class="btn btn-outline-primary w-50" href="{% url 'metro:matrix_edit' simulation.id demandsegment.id %}">
					Edit O-D matrix
				</a>
				{% else %}
				<button type="button" class="btn btn-outline-primary w-50" title="The network has no zone" disabled>
					Edit O-D matrix
				</button>
				{% endif %}
				{% endif %}
			</div>
			<br>
			<div class="btn-group my-1" role="group">
				{% if has_centroid and demandsegment.matrix.total %}
				<a role="button" class="btn btn-outline-primary{% if owner %} w-50{% endif %}" href="{% url 'metro:matrix_export' simulation.id demandsegment.id %}">
					Export O-D matrix
				</a>
				{% elif has_centroid %}
				<button type="button" class="btn btn-outline-primary{% if owner %} w-50{% endif %}" title="The O-D matrix is empty" disabled>
					Export O-D matrix
				</button>
				{% else %}
				<button type="button" class="btn btn-outline-primary{% if owner %} w-50{% endif %}" title="The network has no zone" disabled>
					Export O-D matrix
				</button>
				{% endif %}
				{% if owner %}
				{% if has_centroid %}
				<button type="button" class="btn btn-outline-primary w-50" data-toggle="modal" data-target="#importModal">
					Import O-D matrix
				</button>
				{% else %}
				<button type="button" class="btn btn-outline-primary w-50" title="The network has no zone" disabled>
					Import O-D matrix
				</button>
				{% endif %}
				{% endif %}
			</div>

			<br>

			{% if owner %}
			{% if total %}
			<button type="button" class="btn btn-outline-danger my-3" data-toggle="modal" data-target="#deleteModal">
				Reset O-D matrix
			</button>
			{% else %}
			<button type="button" class="btn btn-outline-danger my-3" title="The O-D matrix is empty" disabled>
				Reset O-D matrix
			</button>
			{% endif %}
			{% endif %}

		</div>

	</div>

	<br>

	<center>

		<a role="button" class="btn btn-secondary mt-3" href="{% url 'metro:demand_view' simulation.id %}" title="Go back to the traveler type page">
			<span class="far fa-caret-square-left"></span> Back
		</a>
		
	</center>

</div>

{% if owner %}
{% if total %}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Reset O-D matrix</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Do you really want to reset the O-D matrix?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
				<a role="button" class="btn btn-danger mx-auto" href="{% url 'metro:matrix_reset' simulation.id demandsegment.id %}">Delete</a>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="modal fade" id="importModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import O-D Matrix</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{% url 'metro:matrix_import' simulation.id demandsegment.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-body form-group">
					The import file must be a tsv file with three columns: <i>origin</i>, <i>destination</i>  and <i>population</i>.
					{% render_field import_form.import_file class="form-control-file my-3" %}
					<div id="importDiv" style="display:none;">
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%; margin-right: 100%;"></div>
						</div>
						<div class="text-warning">
							Please be patient, this operation can take up to one hour if the file imported has a large number of rows.
							<br>
							The import process does not stop if you close this pop-up.
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary mx-auto" onclick="runProgressBar()">Import</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
function runProgressBar() {
	var progressBar = $('.progress-bar');
	var percentVal = 0;
	var right = true;

	// Show the progress bar
	$('#importDiv').css("display", "block")
	// Run the progress bar
	window.setInterval(function(){
	    percentVal += 5;
	    if (right == true) {
		    progressBar.css("margin-right", 100-percentVal+ '%');
	    } else {
		    progressBar.css("margin-left", percentVal+ '%');
	    }


	    if (percentVal == 100 || percentVal == 50 && right)
	    {
		percentVal = 0;
		if (right == true) {
			progressBar.css("margin-left", percentVal+ '%');
			progressBar.css("margin-right", 0+ '%');
		} else {
			progressBar.css("margin-left", 0+ '%');
			progressBar.css("margin-right", 100+ '%');
		}
		right = !right;
	    }

	}, 100);
}
{% endblock %}
