{% load static %}
{% load bootstrap4 %}

<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>

{% bootstrap_css %}
{% bootstrap_javascript %}

<style>
	body {
		margin: 8px;
	}
</style>

<head>
	<link rel="shortcut icon" type="image/png" href="{% static 'metro_app/favicon.ico' %}"/>
	<title>Network - {{ simulation.name }}</title>
</head>

<body>
	<div class="row h-100 w-100">

		<div class="col border p-0 mx-3" id="graph-container">
			{% if not large_network %}
			<svg id="main-svg"></svg>
			{% endif %}
		</div>

		<div id="legendColumn" class="col-3 d-block h-100">
			<div id="controls">
				<center>
					<a role="button" class="btn btn-secondary" href="{% url 'metro:simulation_view' simulation.id %}">
						Back
					</a>
				</center>
				<div class="form-group w-75 mx-auto">
					<label for="sizeSlider">Size: <span id="sizeValue"></span></label>
					<input type="range" min="10" max="500" value="100" class="form-control-range" id="sizeSlider">
				</div>
				<div class="form-group w-75 mx-auto">
					<label for="zoneSelector" class="sr-only">Zones</label>
					<select id="zoneSelector" class="form-control" onchange="drawZones()">
						<option value="none">Zones...</option>
						<option value="departures">Departures</option>
						<option value="arrivals">Arrivals</option>
						<option value="averages">Average</option>
					</select>
				</div>
				<div class="form-group w-75 mx-auto">
					<label for="linkSelector" class="sr-only">Links</label>
					<select id="linkSelector" class="form-control" onchange="drawLinks()">
						<option value="none">Links...</option>
						<option value="lanes">Lanes (input)</option>
						<option value="length">Length (input)</option>
						<option value="speed">Speed (input)</option>
						<option value="capacity">Capacity (input)</option>
						<option value="type">Type (input)</option>
						{% if results %}
						{% if large_network %}
						<option value="phi_in">Flows (output)</option>
						{% else %}
						<option value="phi_in">Entry Flows (output)</option>
						<option value="phi_out">Exit Flows (output)</option>
						{% endif %}
						<option value="ttime">Travel Times (output)</option>
						{% endif %}
					</select>
				</div>
				{% if results %}
				<div class="form-group w-75 mx-auto invisible" id="sliderDiv">
					<label for="form-control-range">Time: <span id="slideValue"></span></label>
					<input type="range" min="0" max="0" value="0" class="form-control-range" id="timeSlider">
				</div>
				{% if not large_network %}
				<div class="form-group w-75 mx-auto invisible" id="hssDiv">
					<label class="sr-only" for="HSSelector">Historical or Simulated values</label>
					<select id="HSSelector" class="form-control" onchange="drawLinks()">
						<option value="h">Historical values</option>
						<option value="s">Simulated values (last day)</option>
					</select>
				</div>
				{% endif %}
				{% endif %}
			</div>

			<div class="row mx-auto">
				<div class="col w-50">
					<div id="zoneLabel" style="height:30px;display:none">
						<label for="legend-zones-svg">Zones</label>
					</div>
					<div id="legend-zones-container">
						<svg id="legend-zones-svg" class="h-100 w-100"></svg>
					</div>
				</div>
				<div class="col w-50">
					<div id="linkLabel" style="height:30px;display:none">
						<label for="legend-links-svg">Links</label>
					</div>
					<div id="legend-links-container">
						<svg id="legend-links-svg" class="h-100 w-100"></svg>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

<script>
var output = {{ output | safe }};
{% if parameters %}
var parameters = {{ parameters | safe }};
{% endif %}
{% if results %}
var results = {{ results | safe }};
{% endif %}
{% if large_network %}
var largeNetwork = true;
{% else %}
var largeNetwork = false;
{% endif %}
</script>

<script src="https://d3js.org/d3.v5.min.js"></script>

<script type="text/javascript" src="{% static 'js/network.js' %}"></script>

{% if large_network %}
<script src="{% static 'js/sigma.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/network_sigma.js' %}"></script>
{% else %}
<script type="text/javascript" src="{% static 'js/network_d3.js' %}"></script>
{% endif %}
