{% extends 'metro_app/base.html' %}
{% load bootstrap4 %}

{% block title %}
Reset password - Metropolis
{% endblock %}

{% block main %}

<div class="container">

	<center>
		Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
	</center>

	<form method="post">
		{% csrf_token %}
		{% bootstrap_form form show_label=False %}
		<center>
			<button type="submit" class="btn btn-primary btn-lg">Reset password</button>
		</center>
	</form>

</div>

{% endblock %}
