{% extends 'metro_app/base.html' %}
{% load bootstrap4 %}

{% block title %}
Reset password - Metropolis
{% endblock %}

{% block main %}

<div class="container">

	{% if validlink %}

	<center>
		Please enter your new password twice so that we can verify you typed it correctly.
	</center>

	<form method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		<center>
			<button type="submit" class="btn btn-primary btn-lg">Change my password</button>
		</center>
	</form>

	{% else %}

	<center>
		Link is invalid.
	</center>

	{% endif %}

</div>

{% endblock %}
